
---
// src/pages/index.astro
import PostCard from '../components/PostCard.astro';
import type{ Post } from '../pages/types/Post.ts';

const res = await fetch('https://jsonplaceholder.typicode.com/posts');
const posts = await res.json();
---

<html>
<head>
  <title>Mi Blog en Astro</title>
</head>
<header class="header">
	<h1>Bienvenido a mi Blog</h1>
	<nav>
	  <ul>
		<li><a href="#">Blog</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	  </ul>
	</nav>
</header>
<style>
	.header {
	  background-color: #333;
	  padding: 0px;
	  text-align: center;
	  position: fixed;
	  top: 1px; 
	  width: 98vw;
	}
  
	.header h1 {
		color:#f2f2f2;
		font-size:30px;
		line-height:30px;
		float:left;
	  
	}
  
	.header nav ul {
	  padding: 0px;
	  text-align: end;
		
	}
  
	.header nav ul li {
	  display: inline;
	  margin-right: 10px;

	}
  
	.header nav ul li a {
		display:inline-block;
		color:#fff;
		text-decoration:none;
		padding:10px 20px;
		line-height:normal;
		font-size:15px;
		font-weight:bold;
		
		background:#d7924e;
		border-radius:40px;	
	}
	
</style>
<body>
  <div class="container1">
    <div class="container2">
      {posts.map(post => (
        <PostCard key={post.id} post={post} />
      ))}
    </div>
  </div>
  <style>
    .container1{
        max-width: 1300px;
        margin: 0 auto;
        padding: 10px;
		text-align: center;
		font-family: Arial, sans-serif;
		line-height: 1.4;
		color: #333;
    }  
	.container2{
		display: grid; 
		grid-template-columns: repeat(4, 1fr); 
		grid-gap: 60px; 
		padding: 80px;
	}
</style>
<footer>
    <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
</footer>
<style>
    footer {
      background-color: #333;
      color: #fff;
      padding: 60px;
      text-align: center;
      bottom: 0;
      width: 92%;
    }
</style>
</body>
</html>

